:root {
  --top-main: #1b72e8;
  --campanella: #ff8f00;
  --link: #f26551;
}

.debug {
  border: 1px solid black;
  background-color: rgba(0, 255, 0, 0.2);
}

/* header */

/* generali */
.top-header {
  height: 70px;
}

/* /generali */

/* top-head */
/* logo */
header .logo .logo-img img {
  width: 70px;
}

header .logo .logo-scritta img {
  width: 170px;
  height: 100%;
  padding: 0 10px;
}

/* /logo */
/* search */
header .search .lente{
margin-left: 10px;
}
header .search .lente i {
  font-size: 27px;
  padding: 10px 5px;
}
header .search .search-text{
margin-right: 10px;
}
header .search .search-text input {
  padding: 10px 5px;
}

/* /search */
/* /top-head */

/* /header */

/* main */
/* /main */

/* footer */
/* /footer */