:root {
  --top-main: #1b72e8;
  --campanella: #ff8f00;
  --link: #f26551;
}

.debug {
  border: 1px solid black;
  background-color: rgba(0, 255, 0, 0.2);
}

header {
  height: 70px;
}
.d-flex.align-items-center.debug {
  height: 70px;
}
body{
font-family: 'roboto'sans-serif;
}

.menu-container{
max-width: 150px;
margin: 0 auto;
}
/* header */
/* generali */

.logo-uno img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* /generali */

/* logo */
.logo-uno {
  width: 85px;
}

.logo-due {
  width: 150px;
}

/* /logo */
/* search */
.search{
border-radius: 5px;
background-color: lightgray;
}
.search .lente i{
font-size: 15px;
padding: 5px;
}
.search .search-text input{
width: 100%;
padding: 5px;
background-color: lightgrey;
border: white;
margin-right: 5px;
}

/* /search */
/* notifiche */
.notifiche .altro{
width: 112.5px;
}
.notifiche .campanella{
width: 37.5px;
}
.notifiche .altro i{
padding: 10px;
font-size: 20px;
}
.notifiche .campanella i{
font-size: 20px;
padding: 10px;
color: var(--campanella);
}
/* /notifiche */

/* /header */

/* main */
/* /main */

/* footer */
/* /footer */