:root {
  --top-main: #1b72e8;
  --campanella: #ff8f00;
  --link: #f26551;
  --menu-left: #051e34;
  --app: #165bba;
}

.debug {
  border: 1px solid black;
  background-color: rgba(0, 255, 0, 0.2);
}

header {
  height: 70px;
  overflow: hidden;
  width: 100%;
  
}

.d-flex.align-items-center.debug {
  height: 70px;
}

body {
  font-family: 'roboto' sans-serif;
}

main {
  height: 100vh;
  
}

.menu-container {
  max-width: 150px;
  padding: 25px;
  height: 93%;
  color: white;
  background-image: url(../img/sidebar-bg.png);
  width: 100%;
  background-color: var(--menu-left);
  overflow: hidden;
}

.container-ol {
  margin: 15px;
}
.lg-container{
width: 50%;
}
/* header */
/* generali */

.logo-uno img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* /generali */

/* logo */
.logo-uno {
  width: 85px;
}

.logo-due {
  width: 150px;
}

/* /logo */
/* search */
.search {
  border-radius: 5px;
  background-color: lightgray;
}

.search .lente i {
  font-size: 15px;
  padding: 5px;
}

.search .search-text input {
  width: 100%;
  padding: 5px;
  background-color: lightgrey;
  border: white;
  margin-right: 5px;
}

/* /search */
/* notifiche */
.notifiche .altro {
  width: 112.5px;
}

.notifiche .campanella {
  width: 37.5px;
}

.notifiche .altro i {
  padding: 10px;
  font-size: 20px;
}

.notifiche .campanella i {
  font-size: 20px;
  padding: 10px;
  color: var(--campanella);
}

/* /notifiche */

/* /header */

/* main */

/* main left */
.main-left {
  height: 100%;
}
.menu-container .home:hover,
.stats:hover,
.signals:hover,
.setting-menu:hover{
background-color: rgba(239, 239, 240,0.3);
}
.menu-container .icon-text {
  margin-left: 25px;
}

.menu .home,
.stats,
.signals {
  margin-bottom: 15px;

}

/* /main left */
/* main right */
.main-right {
  overflow: scroll;

}

/* top main */
.top-main {
  height: 260px;
  width: 100%;
  padding: 15px;
  background-color: var(--top-main);
}
.top-main h3{
font-size: 20px;
}

.app{
align-items: center;
margin-bottom: 20px;
}

.studente .plus{
border: 1px solid white;
border-radius: 7px;
}
.studente .plus .offcanvas{
width: 100%;
}
.studente .plus i{
font-size: 20px;
}

.boolean .piano{
border-radius: 15px;
background-color: var(--app);
padding: 0 7px;
}
.boolean .piano a{
text-decoration: none;
color: white;
}

.boolean .app .piano:nth-child(3){
border-radius: 50%;
}

/* /top main */

/* Tabelle */
.table-left .link{
  background-color: #f3725f;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  }
  
  .table-left th{
  height: 60px;
  line-height: px;
  }
  
  .table-left .btn.btn-light {
    margin-left: 2px;
    border: 1px solid gray;
  }
  .table-right{
  height: 700px;
  }
  .table-right .card.ol-h{
  height: 270px;
  }


  
/* /Tabelle */

/* /main right */
/* /main */

/* footer */
/* /footer */

/* responsive */
@media screen and (min-width:767px) {

  .top-main{
  height: 175px;
  }

  .top-main .studente {
    height: 40%;
    align-items: center;
    width: 300px;
  }
  
  .boolean{
  width: 50%;
  }
 
  .app{
    margin-top: 20px;
    }
    
  
}

@media screen and (min-width:1200px) {
  /* tabelle */
  .studente .plus .offcanvas{
    width: 50% !important;
    }
  /* tabelle */
}
@media screen and (max-width:991px) {
  .menu-container {
    width: 80px;
  }

  /* tabelle */
  .studente .plus .offcanvas{
    width: 50% !important;
    }
  /* tabelle */
}